# Ignore Python cache
__pycache__/

# Python cache
*.pyc
*.pyo
*.egg-info/
*.egg
*.venv/

.pytest_cache/

# environment
config/*
!config/*.example

# GCP API Credential
gcp-credentials.json

# messages.json
src/discord_bot/messages.json